<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money4band</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/M4B_logo_small.png">
    
</head>
<body>

    <div class="topbar">
        <div class="logo">
            <img src="static\M4B_logo_small.png" alt="">
            <h1>Money4band</h1>
        </div>

        
        <div class="topbuttons">
            <button id="save" onclick="saveApps()">Save</button>
            <button id="restart">Restart</button>
            <button id="discord">Join now</button>
        </div>
        
    </div>
    <div class="main">

        <div class="config">

            <h2>Config</h2>
            <hr>
            <div id="appContainer">
                
            </div>

        </div>
        
        
    </div>


    <script src="static/main.js"></script>
</body>
</html>